{% extends'base.html.twig' %}

{% block title 'Créer un biens' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer le biens</h1>
        {{ include ('admin/accommodation/form.html.twig',{button: 'Créer'}) }}
    </div>
{% endblock %}