{% extends'base.html.twig' %}

{% block title 'Parc MaguyLand' %}

{% block body %}
    <header id="header">
        {% include 'nav/nav.html.twig' %}
    </header>

    <div class="container mt-5">
        <h1>A propos du parc</h1></br>
        <p>Au cœur de la France, se niche l'un des plus beaux parcs de loisirs du monde. Plus 10 millions de visiteurs de toutes les nationalités viennent chaque saison pour profiter de plus de cent attractions et spectacles. Le concept innovant de la thématique européenne, le plus grand complexe hôtelier de France, des décorations adaptées à chaque saison et une multitude d’événements font de Maguy Land une destination de séjour unique en son genre tout au long de l’année.

        Nous vous invitons à explorer les coulisses de notre entreprise sur ce site Internet. Découvrez ses nombreuses facettes qui permettent à ce parc unique en son genre d’être

        L’un des plus beaux parcs de loisirs au monde !
        </p>
    </div>

{% endblock %}