{% extends'base.html.twig' %}

{% block title 'Parc MaguyLand' %}

{% block body %}
    <header id="header">
        {% include 'nav/nav.html.twig' %}
        <h1>bhkxjvdkjxvslj hcdjls!cjcbfmdilckhalidu</h1>
    </header>

    <div class="container mt-5">
        <h1>A propos du parc</h1></br>
        <p>Le parc a été crée</p>
    </div>

{% endblock %}