{% extends'base.html.twig' %}

{% block title 'Parc MaguyLand: Nos attraction' %}

{% block body %}
    <header id="header">
        {% include 'nav/nav.html.twig' %}
        <h1>bhkxjvdkjxvslj hcdjls!cjcbfmdilc</h1>
    </header>

    <div class="container mt-4">
        <h1>Voir tous nos bien</h1>

        <div class="row">
            {% for attraction in attractions %}
                <div class="col-md-4">
                    {% include 'attraction/_attraction.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class = 'container'>
        <div class="pagination">
            {{ knp_pagination_render(attractions) }}
        </div>
    </div>
{% endblock %}