{% extends'base.html.twig' %}

{% block title 'Parc MaguyLand' %}

{% block body %}
    <header id="header">
        {% include 'nav/nav.html.twig' %}
        <h1>bhkxjvdkjxvslj hcdjls!cjcbfmdilckhalidu</h1>
    </header>

    <div class="container">
        <h1>{{ attraction.title }}</h1>
        <a href="" class="btn btn.primary">Contacter l'agence</a>
    </div>

{% endblock %}