{% extends'base.html.twig' %}

{% block title 'Gérer les uttilisateur' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer le utilisateur</h1>
        {{ include ('admin/user/form.html.twig',{button: 'Editer'}) }}
    </div>
{% endblock %}