{% extends'base.html.twig' %}

{% block title 'Gérer les rôles' %}

{% block body %}
    <header>
        {% include 'nav/navadmin.html.twig' %}
    </header>
    <div class="container mt-4">
        <h1>Gérer les rôles</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{% for role in user.roles %}
                            {% if role == 'ROLE_ADMIN' %}
                                Administrateur
                            {% endif %}
                            {% if role == 'ROLE_USER' %}
                                Utilisateur
                            {% endif %}
                    <br>{% endfor %}</td>
                    <td>
                        <form method="post" action="{{ path('admin.user.edit', {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                            <select name='roles'>
                                <option value='ROLE_ADMIN'>
                                    Admin
                                </option>
                                <option value='ROLE_USER'>
                                    User
                                </option>
                            </select>
                            <input type='submit'>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class = 'container'>
        <div class="pagination">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}