{% extends'base.html.twig' %}

{% block title 'Parc MaguyLand' %}

{% block body %}
    <header id="header">
        {% include 'nav/nav.html.twig' %}
        <h1>bhkxjvdkjxvslj hcdjls!cjcbfmdilc</h1>
    </header>
    <section id="attractions">
        <h1>Nos attractions</h1>
        <table>
            <tr>
                <td>
                    <figure></figure>
                </td>
                <td>
                    <figure></figure>
                </td>
                <td>
                    <figure></figure>
                </td>
            </tr>
        </table>
    </section>

    <section id="accommodation">
        <h1>Nos hébergement</h1>
        <table>
            <tr>
                <td>n</td>
                <td>n</td>
                <td>n</td>
            </tr>
        </table>
    </section>
{% endblock %}