#header{
    background-image:url(../../image/parc1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 660px;
    text-align: center;
}
#header h3{
    color: white;
    margin-top: 3%;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;  
}
#hidden{
    height: 32em;
    overflow: hidden;
}