{% extends'base.html.twig' %}

{% block stylesheets %}
        <link href="{{ asset('css/form/form_input.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <form method="post" action="{{ path('payment.systeme') }}" style="display: inline-block">
            <label for="number">Entrer le numero de carte bleue: </label></br>
            <input type="number" name="number" id="number" onKeyPress="if(this.value.length==16) return false;" required></br></br>

            <label for="cryptogramme">Entrer le cryptogramme: </label></br>
            <input type="number" name="cryptogramme" id="cryptogramme" onKeyPress="if(this.value.length==3) return false;" required></br></br>
            <input type="submit">
        </form> 
    </div>
{% endblock %}