#logo{
    text-align: center;
}
#logo img{
    width: 40%;
}
.navbar{
    padding: 0 20%;
}
.nav-link{
    color: white !important;
    font-size: 125%;
    text-align: center;
}
.nav-link:hover{
    background-color: white;
    color: black !important;
}
.nav-item{
    padding: 0 6px;
}
.collapse{
    background: rgba(57, 111, 159, 0.7);
}
.navbar-nav{
    margin: auto;
}
.navbar-toggler{
    width: 100%;
    text-decoration: none;
    color: #fff;
    background: #396f9f;
    line-height: 40px;
    font-size: 22px;
}
.nav-link.active{
    color: #6cbbd0 !important;
}
.navbar-light .navbar-toggler {
    color: white !important;
    background: rgba(57, 111, 159, 0.7);
}