{% extends'base.html.twig' %}

{% block title 'Parc MaguyLand: Nos hébergement' %}

{% block body %}
    <header id="header">
        {% include 'nav/nav.html.twig' %}
    </header>

    <div class="container mt-4">
        <h1>Voir nos hébergement</h1>

        <div class="row mt-5">
            {% for accommodation in accommodations %}
                <div class="col-md-4">
                    {% include 'accommodation/_accommodation.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class = 'container'>
        <div class="pagination">
            {{ knp_pagination_render(accommodations) }}
        </div>
    </div>
{% endblock %}