{% block body %}

<div class="container mt-4">
  <p>Prènom :<br/> {{ contact.lastname }}</p><br/>
  <p>Nom :<br/> {{ contact.firsname }}</p><br/>
  <p>Mail :<br/> {{ contact.email }}</p><br/>
  <p>Message :<br/> {{ contact.message }}</p><br/>
</div>   
{% endblock %}